/* folder page styling */
.folder-header {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.linklist-controls {
    margin-bottom: 1rem;
}

Table {
    table-layout: fixed;
}
/*
th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

/*th.col-Name, td.col-Name {
    width: 30%;
}*/

th.col-URL, td.col-URL {
    /*width: 40%;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
th.col-Added, td.col-Added {
    width: 20%;
}*/

.bookmark-name {
    font-weight: 600;
}

.folder-title {
    margin-bottom: 0;
}

.folder-subtitle {
    margin-bottom: 0.5rem;
}