/* folder page styling */
.folder-header {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.linklist-controls {
    margin-bottom: 1rem;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.bookmark-name {
    font-weight: 600;
}