/* folder page styling */
.folder-header {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
    height: 4rem;
}

.folder-title {
    float: left;
}

.header-buttons {
    float: right;
}

.link-table {
    width: 100%;
}