* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.app {
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.wrapper {
  display: flex;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  min-height: 100vh;
}

/* main page style */
.main-content {
  padding: 0;
  margin: 1rem 0 0;
  min-width: 300px;
}

Form {
  margin-bottom: 4rem;
}